@using MedicalMystery.Models

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hello @User.Identity.Name,</h2>

<div class="alert alert-info">
    <strong>Heads up!</strong> To View Your Responses Go To <i>@Html.ActionLink("Manage My Account", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</i>.
</div>

<div class="row">
    <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Messages</a></li>
        </ul>
    </div>
    <div class="col-md-10">


        <div class="row">
            <div class="thumbnails">
                @foreach (QuestionnaireModel q in ViewBag.Questionnaires)
                {
                    <div class="col-md-3">
                        <div class="thumbnail">
                            <div class="day">
                                <h4>@q.QuestionnaireName</h4>
                            </div>
                            <div>
                                @if (q.QuestionnaireDescription.Length > 100)
                                {
                                    @q.QuestionnaireDescription.Substring(0, 100)
                                    <span>...</span>
                                }
                                else
                                {
                                    @q.QuestionnaireDescription;
                                }

                            </div>
                            <div>
                                <a href="#" class="btn btn-success btn-block" data-toggle="modal" data-target="#readmoremodal" data-description="@q.QuestionnaireDescription"
                                   data-name="@q.QuestionnaireName" data-doctor="@q.Doctor">Read More</a>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
        <div>
            <h3>Previous Surveys</h3>
        </div>
        <div class="row">
            <div class="thumbnails">
                @foreach (QuestionnaireModel q in ViewBag.Questionnaires)
                {
                    <div class="col-md-3">
                        <div class="thumbnail">
                            <div class="day">
                                <h4>@q.QuestionnaireName</h4>
                            </div>
                            <div>
                                @if (q.QuestionnaireDescription.Length > 100)
                                {
                                    @q.QuestionnaireDescription.Substring(0, 100)
                                    <span>...</span>
                                }
                                else
                                {
                                    @q.QuestionnaireDescription;
                                }

                            </div>
                            <div>
                                <a href="#" class="btn btn-success btn-block" data-toggle="modal" data-target="#readmoremodal" data-description="@q.QuestionnaireDescription"
                                   data-name="@q.QuestionnaireName" data-doctor="@q.Doctor">Read More</a>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
        <div class="modal fade" id="readmoremodal" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Modal title</h4>
                        <h6 class="modal-doctor"></h6>
                    </div>
                    <div class="modal-body">
                        <p>One fine body&hellip;</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <a class="btn btn-primary">Take Survey</a>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
</div>