@using System.Globalization
@using MedicalMystery.Models
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" data-interval="3000">
        <!-- Carousel indicators -->

        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="active item">
                <blockquote>
                    <p>Many diseases today are of unknown source (or not well defined) For example: fungi in the mouth, migraines and fibromyalgia. There is not a large enough database that will help physicians to better investigate the nature of diseases and their etiology.</p>
                </blockquote>
                <div class="profile-circle" style="background-color: rgba(0,0,0,.2);"></div>
            </div>
            <div class="item">
                <blockquote>
                    <p>Many diseases today are of unknown source (or not well defined) For example: fungi in the mouth, migraines and fibromyalgia. There is not a large enough database that will help physicians to better investigate the nature of diseases and their etiology.</p>
                </blockquote>
                <div class="profile-circle" style="background-color: rgba(77,5,51,.2);"></div>
            </div>
            <div class="item">
                <blockquote>
                    <p>Many diseases today are of unknown source (or not well defined) For example: fungi in the mouth, migraines and fibromyalgia. There is not a large enough database that will help physicians to better investigate the nature of diseases and their etiology.</p>
                </blockquote>
                <div class="profile-circle" style="background-color: rgba(145,169,216,.2);"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting Started</h2>
        <p>
            Log in to your account and start analysing responses to your surveys.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-8">
        <h2>New Surveys</h2>
        <ul class="event-list">
            @foreach (QuestionnaireModel q in ViewBag.Questionnaires)
            {
                <li>
                    <time datetime="2014-07-20">
                        <span class="day">@q.QuestionnaireStartDate.Day</span>
                        <span class="month">@q.QuestionnaireStartDate.ToString("MMM",CultureInfo.CurrentCulture)</span>
                    </time>
                    <div class="info">
                        <h2 class="title">@q.QuestionnaireName</h2>
                        <p class="desc">@if (q.QuestionnaireDescription.Length > 100)
                        {
                            @q.QuestionnaireDescription.Substring(0, 100)
                            <span>...</span>
                        }
                        else
                        {
                            @q.QuestionnaireDescription;
                        }</p>
                        <ul>
                            <li style="width: 50%;"><a href="#website">@q.Doctor</a></li>
                        </ul>
                    </div>
                </li>
            }
        </ul>
    </div>

</div>
